<section class="content page">
    <!--<div  ng-controller="newStudent as nSCtrl" class="user-div">
        <h4 class="new">New Students</h4>
        <input type="image" src="http://www.clker.com/cliparts/K/V/A/5/C/i/baby-silhouette-hi.png" class="new-user"
         ng-click="nSCtrl.newStudent()" ng-hide="nSCtrl.myVar == true" width="30%" height="30%">
        <form class="signup-form" ng-show="nSCtrl.myVar == true">
            <input class="name" type="text" placeholder="name" ng-model="nSCtrl.newStudentObject.name">
            <textarea name="" id="input-box" cols="30" rows="10" placeholder="bio" ng-model="nSCtrl.newStudentObject.bio"></textarea>
            <textarea name="" id="input-box" cols="30" rows="10" placeholder="goals" ng-model="nSCtrl.newStudentObject.goals"></textarea>
            <button type="submit" class="form-button" ng-click="nSCtrl.addStudent(nSCtrl.newStudent())">Submit</button>
        </form>
    </div>
    <div ng-controller="newMentor as nMCtrl" class="user-div">
        <h4 class="new">New Mentors</h4>
        <input type="image" src="http://www.clker.com/cliparts/Y/j/p/0/0/y/business-man-hi.png" class="new-mentor"
         ng-click="nMCtrl.newMentor()" ng-hide="nMCtrl.myVar == true" width="30%" height="30%">
        <form class="signup-form" ng-show="nMCtrl.myVar == true">
            <input class="name" type="text" placeholder="name" ng-model="nMCtrl.newMentorObject.name">
            <textarea name="" id="input-box" cols="30" rows="10" placeholder="bio" ng-model="nMCtrl.newMentorObject.bio"></textarea>
            <textarea name="" id="input-box" cols="30" rows="10" placeholder="qualifications" ng-model="nMCtrl.newMentorObject.qualifications"></textarea>
            <button type="submit" class="form-button" ng-click="nMCtrl.addMentor(nMCtrl.newMentor())">Submit</button>
        </form>
    </div>-->

    <!--Pulled in following code from our recent hackathon. Still needs to be restructured for this project.-->
     <div ng-controller="newStudent as nSCtrl">
        <h4 class="new">New Students</h4>
        <input type="image" src="http://www.clker.com/cliparts/K/V/A/5/C/i/baby-silhouette-hi.png" class="new-user"
         ng-click="nSCtrl.newStudent()" ng-hide="nSCtrl.myVar == true" width="30%" height="30%">
        <form  ng-submit="newStudentController.register.submit($event)" ng-show="nSCtrl.myVar == true" class="signup-form">
                <!--<label class="label">Email</label>-->
                <input id="emailId" required placeholder="Email" type="text" ng-model="newStudentController.payload.email"/>
                <!--<label for="password" class="label">Password</label>-->
                <input required placeholder="Create a password" type="password" ng-model="newStudentController.payload.password"/>
                <button type="submit" class="btn">Register</button> <!--Upon clicking, bring user to appropriate profile type-->
                <p ng-class="newStudentController.register.alert">{{ aControl.register.message }}</p>
        </form>
     </div>
     <div ng-controller="newMentor as nMCtrl">
        <h4 class="new">New Mentors</h4>
        <input type="image" src="http://www.clker.com/cliparts/Y/j/p/0/0/y/business-man-hi.png" class="new-mentor"
         ng-click="nMCtrl.newMentor()" ng-hide="nMCtrl.myVar == true" width="30%" height="30%">
        <form  ng-submit="aControl.register.submit($event)" ng-show="nMCtrl.myVar == true" class="signup-form">
                <!--<label class="label">Email</label>-->
                <input id="emailId" required placeholder="Email" type="text" ng-model="newMentorController.payload.email"/>
                <!--<label for="password" class="label">Password</label>-->
                <input required placeholder="Create a password" type="password" ng-model="newMentorController.payload.password"/>
                <button type="submit" class="btn">Register</button> <!--Upon clicking, bring user to appropriate profile type-->
                <p ng-class="newMentorController.register.alert">{{ aControl.register.message }}</p>
        </form>
    </div>
    <div ng-controller="authCtrl as auth" class="container loginstuff">
        <h4 class="login">Already a member?</h4><button class="form-button" ng-click="auth.existingUser()">Login</button>
        <form ng-submit="aControl.login.submit($event)" class="signup-form" ng-show="auth.myVar == true">
                <!--<label class="label">Email</label>-->
                <input id="emailId" required placeholder="Email" type="email" ng-model="aControl.payload.email"/>
                <!--<label for="password" class="label">Password</label>-->
                <input required placeholder="Password" type="password" ng-model="aControl.payload.password"/>
                <button type="submit" class="btn">Login</button>
                <p ng-class="aControl.login.alert">{{ aControl.login.message }}</p>
        </form>
    </div>
</section>