<section>
    <h3 class="new-user">New Student</h3>
    <div ng-controller="newStudent as nSCtrl">
        <form class="signup-form">
            <input type="text" placeholder="name" ng-model="nSCtrl.newStudentObject.name">
            <textarea name="" id="input-box" cols="30" rows="10" placeholder="bio" ng-model="nSCtrl.newStudentObject.bio"></textarea>
            <textarea name="" id="input-box" cols="30" rows="10" placeholder="goals" ng-model="nSCtrl.newStudentObject.goals"></textarea>
            <button type="submit" class="form-button" ng-click="nSCtrl.addStudent()">Submit</button>
        </form>
    </div>
    <h3 class="new-user">New Mentor</h3>
    <div ng-controller="newMentor as nMCtrl">
        <form class="signup-form">
            <input type="text" placeholder="name" ng-model="nMCtrl.newMentorObject.name">
            <textarea name="" id="input-box" cols="30" rows="10" placeholder="bio" ng-model="nMCtrl.newMentorObject.bio"></textarea>
            <textarea name="" id="input-box" cols="30" rows="10" placeholder="qualifications" ng-model="nMCtrl.newMentorObject.qualifications"></textarea>
            <button type="submit" class="form-button" ng-click="nMCtrl.addMentor()">Submit</button>
        </form>
    </div>
</section>