* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/2000px-Smiley.svg.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100vh;
}

header {
    width: 25%;
    height: 50px;
    margin-left: 0;
    background-color: #193446;
    border-bottom: 1px solid white;
}

.brand {
    text-align: center;
    color: #E9C77B;
    font-size: 200%;
    line-height: 50px;
}

nav {
    width: 100%;
    text-align: center;
}

nav a {
    display: block;
    padding: 7px 0;
    border-bottom: 1px solid white;
    color: #E9C77B;
}

nav a:hover {
    color: #193446;
    background-color: #E9C77B;
}

.menu {
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: #193446;
    left: 0%;
    transition: .3s ease-in-out;
}

.menu-icon {
    color: #E9C77B;
    float: right;
    cursor: pointer;
    padding: 10px 10px;
    /*font-size: 20px;*/
}

#menuToggle {
    display: none;
}

#menuToggle:checked ~ .menu {
    position: absolute;
    left: -25%;
    /*transition: 1s ease-in-out;*/
}

.search {
    width: 70%;
    margin: 10px 0px;
}

.find {
    text-align: center;
    border: 1px solid #193446;
    background-color: #193446;
    padding: 7px 0px;
}

.find-btn {
    background-color: #E9C77B;
    color: white;
    padding: 2px 4px;
    border-radius: 2px;
    border: none;
}


.name {
    margin: 5px 0px;
    border: 1px solid black;
}

.content {
    width: 70%;
    height: 100%;
    margin-left: 30%;
    padding-right: 5%;
    padding-top: 10px;
    background-color: white;
}

/*.content p {
    padding: 10px 20px;
    background-color: white;
    margin: 0px;
}*/

#input-box {
    width: 100%;
}

.form {
    width: 70%;
    height: 100%;
    margin-left: 25%;
    /*visibility: collapse;*/
}

.signup-form {
    width: 70%;
    height: 100%;
    margin-left: 20%;
}


.form input {
    width: 40%;
    margin-bottom: 5px;
}

textarea {
    border: 1px solid black;
}

.form-button {
    color: black;
}

.profile-info {
    width: 70%;
    height: 80%;
    margin-left: 15%;
    padding: 50px 0px 50px 0px;
}

.info {
    background-color: black;
    color: white;
    opacity: .6;
    padding: 30px 5px;
}

.text-center {
    margin-top: 10%;
    color: black;
}

.fb-comments {
    /*width: 70%;*/
    /*height: 80%;*/
    margin-left: 15%;
    padding: 10px 0px;
    background-color: black;
    opacity: .6;
    color: white;
}

h2 {
    top: 50px;
    text-align: right;
    padding-right: 20px;
    margin: 0;
    color: #193446;
    border-bottom: 1px solid #193446;
}

h5 {
    text-decoration: underline;
}

/*.ng-view {
    width: 2000px;
    height: 1000px;
    max-width: 2000px;
    max-height: 1000px;
}*/

.new-user {
    margin-left: 20%;
    color: black;
    /*padding: 5px;*/
    display: inline;
}

img {
    width: 100%;
    height: 10%;
}

.user-div {
    border-bottom: 1px solid black;
}

.new {
    vertical-align: middle;
}